<?xml version='1.0' encoding='utf-8'?>
<widget id="de.zertapps.dvhma.openui5" version="1.0.0-6.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenUI5 DVHMA</name>
    <author href="https://logicalhacking.com"></author>
    <description>
        Damn Vulnerable Hybrid Mobile App (DVHMA) is an hybrid mobile app (for Android) that intentionally contains vulnerabilities. 

	This is the Open UI5 version of DVHMA.
    </description>
    <content src="index.html" />
    <access origin="*" />
</widget>

